* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin-block: 10px 20px;
  writing-mode: horizontal-tb;
  font-family: system-ui;
}

.header {
  background: #a3a3a3;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

nav {
  background: #a3a3a3;
  color: #000000;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.card {
  margin: 3rem 10%;
  border: 5px solid #252629;
  padding: 3% 10%;
  scroll-margin-top: 100px;
  position: relative;
  text-align: center;
}

h2 {
  text-align: center;
}

.card__button-bookmark {
  padding: 15px;
}

.card__button-answer {
}

.card__tag {
  padding: 10px;
}

.tag {
  border: transparent;
}

.nav__button {
  background-color: transparent;
  border: transparent;
  font-size: 40px;
}
